.drop-area {
  width: 650px;
  height: 300px;
  margin-bottom: 16px;
  border: 2px solid var(--color-border);
  border-radius: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.drop-area.drag-in {
  background-color: var(--color-links-active-bg);
}

.dominant-container {
  width: 650px;
  margin: 16px 0;
  padding-bottom: 16px;
  border: 1px solid var(--color-border);
  border-radius: 16px;
  overflow: hidden;
}

.dominant-container img {
  display: block;
  width: 100%;
}

.dominant-color {
  display: flex;
  padding: 16px;
}

.color-item {
  position: relative;
  display: inline-block;
  margin: 0 16px 16px 0;
  line-height: 0;
}

.color-item::before {
  content: "";
  position: absolute;
  z-index: 0;
  top: 50%;
  left: 50%;
  width: 95%;
  height: 95%;
  border: 1px solid var(--palette-active);
  border-radius: 50%;
  transform: translate(-50%, -50%);
  transition: var(--transition);
}

.color-item.active::before {
  width: 120%;
  height: 120%;
}

.color-item:active {
  transform: scale(0.98);
}

.color-item span {
  position: relative;
  display: inline-block;
  width: 48px;
  height: 48px;
  border-radius: 50%;
}

.dominant-container h3,
.dominant-container .color-palette-container {
  padding: 0 16px;
}
