.drop-area {
  width: 650px;
  height: 300px;
  margin-bottom: 16px;
  border: 2px solid var(--color-border);
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.drop-area.drag-in {
  background-color: var(--color-links-active-bg);
}

.dominant-container {
  width: 650px;
  margin: 16px 0;
  border: 1px solid var(--color-border);
  border-radius: 8px;
  overflow: hidden;
}

.dominant-container img {
  display: block;
  width: 100%;
}

.dominant-color {
  display: flex;
  padding: 16px;
}

.dominant-color > div:first-child {
  margin-right: 36px;
}
.dominant-color > div:last-child {
  flex: 1;
}

.dominant-color > div:first-child > div {
  width: 64px;
  height: 64px;
  border-radius: 50%;
}

.color-item {
  display: inline-block;
  margin-right: 4px;
}

.color-item span {
  display: inline-block;
  width: 48px;
  height: 48px;
  border-radius: 50%;
}

.prominent-color .color-item {
  width: 30%;
}

.dominant-container .color-palette-container {
  padding: 0 16px;
}
